 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
            
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
 </head>
 <body>
    <h1> Instagram Profile </h1>  
    <hr>
    
     <div class="nav">      
      <h3><%=data.username%></h3> 
      <div class="icons">
      <div class="i-1"> <i class="fa-solid fa-square-plus"></i> </div>
      <div class="i-2">  <i class="fa-solid fa-bars"></i> </div>
      </div>
     </div>
     <hr>      

     <div class="sidebar">   
      <div class="cross">    <i class="fa-solid fa-xmark"></i>   </div>
      <div ><p> <a href="http://localhost:8080/login"><button class="s-1">Log In</button></a> </p></div>
      <div ><p> <a href="http://localhost:8080/signup"><button class="s-1">Sign Up</button></a></p></div>

     </div>

     <div class="main">
   
         <div class="img"></div>
        

        
         <div class="f-1">   
            <ul id="remove">    
               <li>0</li>
               <li>Posts</li>
            </ul>
            </div>


         <div class="f-2">   
         <ul id="remove">    
            <li>900</li>
            <li>followers</li>
         </ul>  
         </div>


      <div class="f-3">
      
      <ul id="remove">
         <li>500</li>
         <li>following</li>
      </ul> 
      </div>
    
   

    </div> 

    <div class="edit">
     
      <h3><%=data.name%></h3>     
<pre> <%=data.bio%>
        
</pre> 
     

    </div> 

    <div class="edit-btn">
   <button class="edit-btn">Edit Profile</button>
    </div>

   <script src="/style.js"></script>
 </body>
 </html>