<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/login.css">
</head>
<body> 
    <div class="login-main">
        <div class="login-img"></div>
    <form method="post" action="/login-signup/insta"> 
     <input type="text" placeholder=" username" name="username" class="l-i1"> 
     <input type="password" placeholder="password" name="password" class="l-i2"><br>
     <button class="l-b">Login</button> 
     <div class="footer"></div> 

     <div class="login-main2"> <p>Dont't have an account?&nbsp;&nbsp; <a href="http://localhost:8080/signup">sign up</a></p> </div>
     <div class="f-img"></div>
    </form>
    </div>
</body>
</html>