<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/signup.css">
</head>
<body> 
    <a href="http://localhost:8080/login-signup"><button class="btn-b">back</button></a>
    <div class="main">
        <div class="u-img"></div>
    <form method="post" action="/login-signup">
        <input placeholder="enter the username" name="username" class="i1" >   <br><br>
        <input placeholder="enter the email id" name="email" class="i1">  <br><br>
        <input placeholder="enter the d.o.b" name="dob" class="i1">            <br><br>
        <input placeholder="enter the password" name="password" class="i1">  <br><br>
        <input placeholder="enter the name " name="name" class="i1">  <br><br>
        <input placeholder="enter the bio " name="bio" class="i1">   <br><br>
        <div class="m-img"></div>
        <button class="btn">sign up</button> 
    </div>
    </form>
</body>
</html>